<%= form_for(@patient) do |f| %>

  <div class="field">
    <%= f.label "Doctors" %><br>
    <%= f.collection_select(:doctor_ids, Doctor.order("last_name ASC", "first_name ASC", "specialty ASC"), :id, :name, {:prompt => "Please select your doctors"}, {:multiple => true}) %>
  </div>
  <div class="field">
    <%= f.hidden_field :patient_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
