<%= form_for(@patient_doctor) do |f| %>
  <% if @patient_doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_doctor.errors.count, "error") %> prohibited this patient_doctor from being saved:</h2>

      <ul>
      <% @patient_doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.text_field :doctor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
