<div class="row">
  <div class="col-md-10 col-offest-md-1">
    <%= bootstrap_form_for @user do |f| %>

        <%= f.text_field :first_name, placeholder: "ex. Gary", :autofocus => true %>
        <%= f.text_field :last_name, placeholder: "ex. Jacobsen" %>
        <%= f.text_field :email, placeholder: "ex. gary@gary.com" %>
        <%= f.text_field :phone_number, placeholder: "XXX-XXX-XXXX" %>
        <%= f.password_field :password, placeholder: "password" %>
        <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
        <div class="form-group">
          <label for="user_type">Type</label>
        <%= select_tag "form_tag", options_for_select(["Patient", "Doctor"]), :class => "form-control", :include_blank => true, :prompt => "Please Select Doctor or Patient" %>
      </div>
        <%= f.submit @button_face, :class => "btn btn-primary" %>

    <% end %>
  </div>
</div>