<h1><%= @medication.name.capitalize %></h1>


<h3>Related Drugs</h3>
<% Array.wrap(@drugs["rxnormdata"]["drugGroup"]["conceptGroup"]).each do |k| %>
  <% Array.wrap(k["conceptProperties"]).each do |this| %>
  <div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="/assets/pill3.svg" style="height:50px; width:auto">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= "#{this["name"]}" %></h4>
    <%= "#{this["synonym"]}" %>
  </div>
</div>
  <% end %>
<% end %>

<% if current_user %>
	<% if current_user.type == "Patient" %>
    <%= link_to 'Back', patient_path(current_user.id), :class => "btn btn-mine" %>
  <% else %>
   	<%= link_to 'Back', doctor_path(current_user.id), :class => "btn btn-mine" %>
	<% end %>
<% end %>


