<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offest-2 col-lg-8 col-lg-2 center_home">
      <%= bootstrap_form_for @patient do |f| %>

        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.text_field :email %>
        <%= f.text_field :phone_number %>
        <%= f.select :sex, options_for_select(["Male", "Female", "TransMale/Transman", "TransFemale/Transwoman", "Genderqueer", "Decline to State"], :prompt => "Gender", :selected => @patient.sex) %>

        <%= f.date_select :date_of_birth, start_year: 1915, :order => [:month, :day, :year]  %>
        <%= f.select :blood_type, options_for_select(["O+", "O-", "A+", "A-", "B+", "B-", "AB+", "AB-", "Unknown"], :default => "Unknown",  :selected => @patient.blood_type) %>
        <%= f.text_field :allergies %>
<div class="btn-toolbar">
          <%= f.submit @button_face, :class => "btn btn-primary" %>
      <% end %>
      <%= link_to "Change Password", "#myModalSignup", :class => "btn btn-mine pull-right", "data-toggle" => "modal" %>
       <!--  <button class="btn btn-dark btn-xlarge" data-toggle="modal" data-target="#myModalSignup">Change Password</button> -->
      </div>
      </div>
    </div><!--end column -->
  </div><!--end row -->
</div>


 <div class="modal fade" id="myModalSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSignup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabelSignup">Change Password</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @patient do |f| %>

          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
      <div class="btn-toolbar">
         <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
