<br>
<% if current_user %>
  <% if current_user.type == 'Doctor' %>
    <h1 style="display:inline">Listing Patients</h1> 
    <%= link_to 'My Profile', doctor_path(current_user), :class => "btn btn-mine pull-right", :style => "margin-top:5px;display:inline"%><br><br>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Sex</th>
            <th>Date of Birth</th>
            <th>Phone Number</th>
          </tr>
        </thead>

        <tbody>
          <% @doctor.patients.sort { |a,b| a.name <=> b.name }.each do |patient| %>
            <tr>
              <td><%= patient.last_name %></td>
              <td><%= patient.first_name %></td>
              <td><%= patient.sex %></td>
              <td><%= patient.date_of_birth %></td>
              <td><%= patient.phone_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> 


    <br>
  <% end %>
<% else %>

<% end %>