<!-- Page Content -->
  <div class="container">

      <div class="row">

          <!-- Content Column -->
          <div class="col-lg-12">

              <!-- Title -->
              <h1> <%= @patient.first_name %> <%= @patient.last_name %> </h1>
              <hr>
            </div>
          </div>

      <div class="row">
          <div class="col-lg-8">

              <!-- Preview Image -->
              <img class="img-responsive" src="/assets/pills6.png" alt="" style="border: 4px solid #3d715e">

              <hr>

              <h2 style="font-size:28px;display:inline"> Medications</h2> 
              <%= link_to "New Medication", new_medication_path, :class => "btn btn-primary pull-right", :style => "display:inline;color:#fff" %><br><br>

                 <!-- Medication Search Well -->
              <div class="well">
                  <h4>Search Medication History</h4>
                  <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default btn-purplish" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                      </button>
                      </span>
                  </div>
                  <!-- /.input-group -->
              </div>

              <!-- Post Content -->
             <% @medications.each do |m| %>
              <div class="panel panel-default" style="margin-bottom:-1px">
                <!-- Default panel contents -->
                 <% med = m.medication %>
                <div class="panel-heading" style="overflow:hidden;font-size:20px;padding-top:15px;overflow:hidden"><strong> <%= med.name.capitalize %> </strong> <%= link_to "More Medication Info", medication_path(m), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;display:inline" %></div>
                <div class="panel-body">
                  <%= link_to "Edit Prescription", edit_patient_medication_path(m), :class => "btn btn-mine" %>
                </div>

                <!-- List group -->
                <ul class="list-group">
                  <% if m.doctor %>
                  <% doc = m.doctor %>
                    <li class="list-group-item" style="overflow:hidden">Prescribed by:<div class="pull-right"> Dr. <%= doc.first_name %> <%=doc.last_name %> - <%=doc.specialty %></div></li>
                  <% end %>
                  <li class="list-group-item">Dosage:<div class="pull-right"> <%= m.dosage %> <%= m.dosage_unit %></div></li>
                  <li class="list-group-item">Periodicity:<div class="pull-right"> <%= m.periodicity %> <%= m.periodicity_unit %></div></li>
                  <li class="list-group-item">Duration: <div class="pull-right"><%= m.duration %> <%= m.duration_unit %></div></li>
                  <li class="list-group-item">Instructions: <%= m.instruction %></li>
                  <% if m.ongoing == false %>
                    <li class="list-group-item">Start Date:<div class="pull-right"> <%= m.start_date %></div></li>
                    <li class="list-group-item">End Date:<div class="pull-right"> <%= m.end_date %></div></li>
                  <% elsif m.ongoing == true %>
                    <li class="list-group-item"><strong>Status: <div class="pull-right">Ongoing</div></strong></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
              <br>
           
          </div>

          <!-- Blog Sidebar Widgets Column -->
          <div class="col-md-4">

              <!-- Side Widget Well -->
              <!-- <div class="well"> -->
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading" style="overflow:hidden;padding-top:15px"><h4 style="display:inline">Patient Information</h4>
                    <% if current_user %>
                      <% if current_user.type == 'Patient' %>
                        <%= link_to 'Edit Profile', edit_patient_path(@patient), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;display:inline" %>
                      <% end %>
                    <% end %>
                  </div>
                 
                    
               

                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item">Sex: <%= @patient.sex %></li>
                    <li class="list-group-item">Date of Birth: <%= @patient.date_of_birth %></li>
                    <li class="list-group-item">Blood Type: <%= @patient.blood_type %></li>
                    <li class="list-group-item">Allergies: <%= @patient.allergies %></li>
                  </ul>
                </div>
                  <!-- <h4>Patient Information</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p> -->
              <!-- </div> -->

              <!-- Blog Categories Well -->
              <div class="well">
                <div class="btn-toolbar">
                  <h4 style="display:inline"> Selected Doctors</h4>
                  <%= link_to "New Doctor", new_patient_doctor_path, :class => "btn btn-primary pull-right", :style => "margin-top:-5px;display:inline;color:#fff" %>
                </div>
                <br>
                  <div class="row">
                      <div class="col-xs-12">
                          <ul class="list-unstyled">
                            <% @doctors.each do |d| %>
                              <li style="padding-top:15px">Dr. <%= d.first_name%> <%= d.last_name %>
                              <%= link_to "View Doctor", doctor_path(d), :class => "btn btn-mine pull-right", :style => "font-size:13px;margin-top:-5px"%></li>
                            <% end %>
                          </ul>
                      </div>
                  </div>
                  <!-- /.row -->
              </div>
               <!-- Side Widget Well -->
                  <!-- <div class="well"> -->
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading"><h4>Contact</h4></div>

                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item">Phone: <%= @patient.phone_number %></li>
                        <li class="list-group-item">Email: <a href="mailto:<%= @patient.email %>"><%= @patient.email %></a></li>
                      </ul>
                    </div>              

          </div>

      </div>
      <!-- /.row -->

<!--       <hr> -->

  </div>
  <!-- /.container -->
