<h1> <%= @patient.first_name %> <%= @patient.last_name %> </h1>

<h2> Patient Information </h2>
Sex: <%= @patient.sex %> <br />
Date of Birth: <%= @patient.date_of_birth %> <br / >
Blood Type: <%= @patient.blood_type %> <br />

<h2> Patient's Selected Doctors </h2>
<ul>
  <% @doctors.each do |d| %>
  <li>
    <strong> Dr. <%= d.first_name %> <%= d.last_name %> </strong>
    <i><%= link_to "Doctor Profile", doctor_path(d) %></i>
  </li>
  <% end %>
</ul>

<h2> Patient's Medications </h2>
<%= link_to "Add New Medication", new_medication_path %> <br />
<ul>
  <% @medications.each do |m| %>
  <li>
    <% med = m.medication %>
    <strong> <%= med.name%> </strong>
    <%= link_to "More Medication Info", medication_path(m) %> <br />
    <% doc = m.doctor %>
    <%= doc.last_name %> <br>
    <%= m.dosage %><br>
    <%= m.periodicity %> <br>
    <%= m.duration %> <br>
    <%= m.instruction %> <br>
    <%= m.start_date %> <br>
    <%= m.end_date %> <br>
  </li>
  <% end %>
</ul>

<h3> Contact Information </h3>
Phone: <%= @patient.phone_number %> <br />
Email: <%= @patient.email %><br />

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
