<h1>Listing Doctors</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Specialty</th>
        <th>Phone number</th>
        <th>City</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.first_name %></td>
          <td><%= doctor.last_name %></td>
          <td><%= doctor.specialty %></td>
          <td><%= doctor.phone_number %></td>
          <td><%= doctor.city %></td>
          <td><%= link_to 'Show', doctor %></td>
          <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
          <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  

<br>

