<h1><%= @doctor.first_name %> <%= @doctor.last_name %></h1>

<h2> Doctor Information </h2>
Specialization: <%= @doctor.specialty %> <br />
City of Practice: <%= @doctor.city %> <br / >

<% if current_user %>
  <% if current_user.type == 'Doctor' %>
    <h2> Patients </h2>
    <ul>
      <% @doctor.patients.each do |p| %>
      <li>
        <strong> <%= p.first_name %> <%= p.last_name %></strong> 
        <%= link_to "More Patient Information", patient_path(p) %>
      </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h2> Prescriptions </h2>
<ul> 
  <% @doctor.patient_medications.each do |m| %>
  <li>
    <strong> <%= m.medication.name.capitalize %> </strong>
    <%= link_to "More Medication Information", medication_path(m) %>
  </li>
  <% end %>
</ul>

<h3> Contact Information </h3>
Phone Number: <%= @doctor.phone_number %> <br />
Email: <%= @doctor.email %> <br />

<% if current_user %>
  <% if current_user.type == 'Doctor' %>
    <%= link_to 'Edit My Profile', edit_doctor_path(@doctor), :class => 'btn btn-mind' %> 
  <% end %>
<% end %>
<br>
<br>
