<h1><%= @doctor.first_name %> <%= @doctor.last_name %></h1>

<h2> Doctor Information </h2>
Specialization: <%= @doctor.specialty %> <br />
Practice Location: <%= @doctor.city %> <br / >

<h2> Patients </h2>
<ul>
  <% @doctor.patients.each do |p| %>
  <li>
    <strong> <%= p.first_name %> <%= p.last_name %></strong> 
    <%= link_to "More Patient Information", patient_path(p) %>
  </li>
  <% end %>
</ul>

<h2> Prescriptions </h2>
<ul> 
  <% @doctor.patient_medications.each do |m| %>
  <li>
    <strong> <%= m.medication.name %> </strong>
    <%= link_to "More Medication Information", medication_path(m) %>
  </li>
  <% end %>
</ul>

<h3> Contact Information </h3>
Phone Number: <%= @doctor.phone_number %> <br />
Email: <%= @doctor.email %> <br />

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
