<!-- Page Content -->
  <div class="container">

      <div class="row">

          <!-- Content Column -->
          <div class="col-lg-8">

              <!-- Title -->
              <h1> Dr. <%= @doctor.first_name %> <%= @doctor.last_name %></h1>

              <hr>
            </div><!--end column -->
          </div><!--end row-->

      <div class="row">
          <div class="col-lg-8">
              <!-- Preview Image -->
              <img class="img-responsive" src="/assets/pills6.png" alt="" style="border: 4px solid #3d715e">

              <hr>

              <h2 style="font-size:28px;display:inline"> Patients</h2> 

                 <!-- Medication Search Well -->
              <div class="well">
                  <h4>Search Patients</h4>
                  <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                      </button>
                      </span>
                  </div>
                  <!-- /.input-group -->
              </div>

              <% if current_user %>
                <% if current_user.type == 'Doctor' %>
                   <% @doctor.patients.each do |p| %>
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading"style="overflow:hidden;font-size:20px;padding-top:15px;overflow:hidden">
                        <strong> <%= p.last_name %>, <%= p.first_name %> </strong> <%= link_to "More Patient Information", patient_path(p), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;display:inline" %> 
                      </div>
                      <!-- <div class="panel-body">
                        <p>...</p>
                      </div> -->

                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item">Sex:<div class="pull-right"><%= p.sex %></div></li>
                        <li class="list-group-item">Date of Birth:<div class="pull-right"><%= p.date_of_birth %></div></li>
                      </ul>
                    </div>
                <% end %>
              <% end %> 
            <% end %>
            </div>

             <!-- Blog Sidebar Widgets Column -->
          <div class="col-md-4">

              <!-- Side Widget Well -->
              <!-- <div class="well"> -->
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading" style="overflow:hidden;padding-top:15px"><h4 style="display:inline">Doctor Information </h4>
                  <% if current_user %>
                    <% if current_user.type == 'Doctor' %>
                      <%= link_to 'Edit Profile', edit_patient_path(@doctor), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;display:inline"%>
                    <% end %>
                  <% end %>
                  </div>
                  
                    
            

                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item">Speciality: <%= @doctor.specialty %></li>
                    <li class="list-group-item">City of Practice: <%= @doctor.city %></li>
                  </ul>
                </div>

                <!-- Blog Categories Well -->
              <div class="well">
                <div class="btn-toolbar">
                  <h4> Medication Experience</h4>
                </div>
                <br>
                  <div class="row">
                      <div class="col-xs-12">
                          <ul id="meds" class="list-unstyled">
                            <% @doctor.patient_medications.each do |m| %>
                              <li class="hidden" style="padding-top:15px"><%= m.medication.name.capitalize %>
                              <%= link_to "View Medication", medication_path(m), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;font-size:13px" %></li>
                            <% end %>
                          </ul>
                      </div>
                  </div>
                  <!-- /.row -->
              </div>
               <!-- Side Widget Well -->
                  <!-- <div class="well"> -->
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading"><h4>Contact</h4></div>

                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item">Phone: <%= @doctor.phone_number %></li>
                        <li class="list-group-item">Email: <a href="mailto:<%= @doctor.email %>"><%= @doctor.email %></a></li>
                      </ul>
                    </div>              

          </div>

      </div>
      <!-- /.row -->

<!--       <hr> -->

  </div>
<!-- /.container -->

<script>

var mylist = $('#meds');
var listitems = mylist.children('li').get();
listitems.sort(function(a, b) {
   return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
})
$.each(listitems, function(idx, itm) { mylist.append(itm);
});

// uniqueLi = {};

// $("#meds li").each(function () {
//   var thisVal = $(this).text();

//   if ( !(thisVal in uniqueLi) ) {
//     uniqueLi[thisVal] = "";
//   } else {
//     $(this).remove();
//   }
// })

var seen = {};
$('#meds li').each(function() {
  var txt = $(this).text();
  if (seen[txt])
      $(this).removeClass('hidden');
  else
      seen[txt] = true;
});

// function addToList() {
//    var addit = true;
//    $("#meds li").each(function()
//    {
//        if(output == $(this).text())
//        { 
//               addit = false;
//        }
//    });
//    if(addit)
//        $("#meds li").append("<li>"+output+"</li>");
//  }
// var seen = {};
// var counter = {};
// var length = $('#meds li').length;
// console.log(length);
// $('#meds li').each(function(i) {
//   var txt = $(this).text();
//   if (seen[txt]) {
//       $(this).remove();
//       counter[txt]++;
//   }
//   else {
//       seen[txt] = true;
//     counter[txt] = 1;
//   }
//   if (i==(length-1)){
//     $.each(counter, function(i, val) {
//       $('p#first').append('<p>'+i+': '+val+'</p>');
//     });
//   }
// });

// var seen='';
//    $('#meds li').each(function(){
//         var see=$(this).text();
//         if(seen.match(see)){
//             $(this).remove();}
//         else{
//             seen=seen+$(this).text();
//         }
//     });

// $('#meds li').each(function () {
//     if ($(this).next().is('li')) {
//         $(this).next().remove();
//     }
// });

</script>