<!-- Page Content -->
  <div class="container">

      <div class="row">

          <!-- Content Column -->
          <div class="col-lg-8">

              <!-- Title -->
              <h1> Dr. <%= @doctor.first_name %> <%= @doctor.last_name %></h1>

              <hr>

              <!-- Preview Image -->
              <img class="img-responsive" src="http://placehold.it/900x300" alt="">

              <hr>

              <h2 style="font-size:28px;display:inline"> Patients</h2> 

                 <!-- Medication Search Well -->
              <div class="well">
                  <h4>Search Patients</h4>
                  <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                      </button>
                      </span>
                  </div>
                  <!-- /.input-group -->
              </div>

              <% if current_user %>
                <% if current_user.type == 'Doctor' %>
                   <% @doctor.patients.each do |p| %>
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading"style="overflow:hidden;font-size:20px;padding-top:15px;overflow:hidden">
                        <strong> <%= p.last_name %>, <%= p.first_name %> </strong> <%= link_to "More Patient Information", patient_path(p), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;display:inline" %> 
                      </div>
                      <!-- <div class="panel-body">
                        <p>...</p>
                      </div> -->

                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item"><%= p.sex %></li>
                        <li class="list-group-item"><%= p.date_of_birth %></li>
                      </ul>
                    </div>
                <% end %>
              <% end %> 
            <% end %>
            </div>

             <!-- Blog Sidebar Widgets Column -->
          <div class="col-md-4">

              <!-- Side Widget Well -->
              <!-- <div class="well"> -->
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading" style="overflow:hidden;padding-top:15px;overflow:hidden"><h4 style="display:inline">Doctor Information </h4>
                  <% if current_user %>
                    <% if current_user.type == 'Doctor' %>
                      <%= link_to 'Edit Profile', edit_patient_path(@doctor), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;display:inline"%>
                    <% end %>
                  <% end %>
                  </div>
                  
                    
            

                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item">Speciality: <%= @doctor.specialty %></li>
                    <li class="list-group-item">City of Practice: <%= @doctor.city %></li>
                  </ul>
                </div>

                <!-- Blog Categories Well -->
              <div class="well">
                <div class="btn-toolbar">
                  <h4> Prescriptions</h4>
                </div>
                <br>
                  <div class="row">
                      <div class="col-xs-12">
                          <ul class="list-unstyled">
                            <% @doctor.patient_medications.each do |m| %>
                              <li style="display:inline"><%= m.medication.name.capitalize %>
                              <%= link_to "View Medication", medication_path(m), :class => "btn btn-mine pull-right", :style => "margin-top:-5px;font-size:13px;display:inline" %></li>
                            <% end %>
                          </ul>
                      </div>
                  </div>
                  <!-- /.row -->
              </div>
               <!-- Side Widget Well -->
                  <!-- <div class="well"> -->
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading"><h4>Contact</h4></div>

                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item">Phone: <%= @doctor.phone_number %></li>
                        <li class="list-group-item">Email: <%= @doctor.email %></li>
                      </ul>
                    </div>              

          </div>

      </div>
      <!-- /.row -->

<!--       <hr> -->

  </div>
<!-- /.container -->
                  
