<%= form_for(@patient_medication) do |f| %>

  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.collection_select(:doctor_id, Doctor.order("last_name ASC", "first_name ASC", "specialty ASC").find(@patient.doctor_ids), :id, :name, {:prompt => "Please select a doctor"}) %>  
  </div>

  <div class="field">
    <%= f.label :medication_id %><br>
    <%= f.collection_select(:medication_id, Medication.order('name ASC'), :id, :cap_name, {:prompt => "Please select a medication"}) %>  
  </div>
  <div class="field">
    <%= f.label :dosage %><br>
    <%= f.number_field :dosage %> <%= f.select :dosage_unit, options_for_select(["g", "mg", "cc", "puff(s)", "mL", "tbsp", "tsp", "oz", "IU","drop(s)"]), :selected => params[:dosage_unit] %>
  </div>
  <div class="field">
    <%= f.label :periodicity %><br>
    <%= f.number_field :periodicity %> <%= f.select :periodicity_unit, options_for_select(["daily", "every other day", "weekly", "every other week", "monthly"]), :selected => params[:periodicity_unit] %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %> <%= f.select :duration_unit, options_for_select(["day(s)", "week(s)", "month(s)", "year(s)"]), :selected => params[:duration_unit] %>
  </div>

  <div class="field">
    <%= f.label :ongoing %><br>
    <%= f.check_box :ongoing %>
  </div>
  <div id="haha">
    <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %><br>
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  </div>
  
  <div class="field">
    <%= f.label :instruction %><br>
    <%= f.text_field :instruction %>
  </div>
  <div class="field">
    <%= f.hidden_field :patient_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script>
  $("#patient_medication_ongoing").on("change", function(){
    doShowHide(this);
  });
  function doShowHide(cb){
    if(cb.checked)
      $("#haha").hide();
    else
      $("#haha").show();
  }

  // When the page loads, calculate if it should show or hide.
  doShowHide($("#patient_medication_ongoing")[0]);
</script>
